@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #5c921e;
  --color-secondary: #b4e274;
}


.bg-gradient{
  @apply bg-linear-to-br from-[#5c921e] to-[#b4e274]
}

.hover-eff{
  @apply hover:bg-linear-to-br hover:from-[#b4e274] hover:to-[#5c921e]
}

.active{
  @apply text-primary
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}